$col_md_1: (100% / 12);

html, body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.png) no-repeat center center;
  background-size: cover;
  height: 800px;
}

.header {
  background-color: #333;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* Main */

.main {
  position: relative;
  top: 180px;
  text-align: center
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-sapcing: 1.3;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col-md-4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px
}

.clearfix {
  clear: both
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-tranform: uppercase;
  font-size: 11px
}

@media (max-width: 768px) {
  .main h1 {
    font-size: 50px
  }

  .btn-primary {
  font-size: 14px
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
   width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: ($col_md_1 * 12)
  }

  .col-md-11 {
    width: ($col_md_1 * 11)
  }

  .col-md-10 {
    width: ($col_md_1 * 10)
  }

  .col-md-9 {
    width: ($col_md_1 * 9)
  }

  .col-md-8 {
    width: ($col_md_1 * 8)
  }

  .col-md-7 {
    width: ($col_md_1 * 7)
  }

  .col-md-6 {
    width: ($col_md_1 * 6)
  }

  .col-md-5 {
    width: ($col_md_1 * 5)
  }

  .col-md-4 {
    width: ($col_md_1 * 4)
  }

  .col-md-3 {
    width: ($col_md_1 * 3)
  }

  .col-md-2 {
    width: ($col_md_1 * 2)
  }

  .col-md-1 {
    width: ($col_md_1 * 1)
  }

  .col-md-push-12 {
    left: ($col_md_1 * 12)
  }

  .col-md-push-11 {
    left: ($col_md_1 * 11)
  }

  .col-md-push-10 {
    left: ($col_md_1 * 10)
  }

  .col-md-push-9 {
    left: ($col_md_1 * 9)
  }

  .col-md-push-8 {
    left: ($col_md_1 * 8)
  }

  .col-md-push-7 {
    left: ($col_md_1 * 7)
  }

  .col-md-push-6 {
    left: ($col_md_1 * 6)
  }

  .col-md-push-5 {
    left: ($col_md_1 * 5)
  }

  .col-md-push-4 {
    left: ($col_md_1 * 4)
  }

  .col-md-push-3 {
    left: ($col_md_1 * 3)
  }

  .col-md-push-2 {
    left: ($col_md_1 * 2)
  }

  .col-md-push-1 {
    left: ($col_md_1 * 1)
  }

  .col-md-push-0 {
    left: auto
  }

  .col-md-push-12 {
    left: ($col_md_1 * 12)
  }

  .col-md-push-11 {
    left: ($col_md_1 * 11)
  }

  .col-md-push-10 {
    left: ($col_md_1 * 10)
  }

  .col-md-push-9 {
    left: ($col_md_1 * 9)
  }

  .col-md-push-8 {
    left: ($col_md_1 * 8)
  }

  .col-md-push-7 {
    left: ($col_md_1 * 7)
  }

  .col-md-push-6 {
    left: ($col_md_1 * 6)
  }

  .col-md-push-5 {
    left: ($col_md_1 * 5)
  }

  .col-md-push-4 {
    left: ($col_md_1 * 4)
  }

  .col-md-push-3 {
    left: ($col_md_1 * 3)
  }

  .col-md-push-2 {
    left: ($col_md_1 * 2)
  }

  .col-md-push-1 {
    left: ($col_md_1 * 1)
  }

  .col-md-push-0 {
    left: auto
  }

  .col-md-offset-12 {
    margin-left: ($col_md_1 * 12)
  }

  .col-md-offset-11 {
    margin-left: ($col_md_1 * 11)
  }

  .col-md-offset-10 {
    margin-left: ($col_md_1 * 10)
  }

  .col-md-offset-9 {
    margin-left: ($col_md_1 * 9)
  }

  .col-md-offset-8 {
    margin-left: ($col_md_1 * 8)
  }

  .col-md-offset-7 {
    margin-left: ($col_md_1 * 7)
  }

  .col-md-offset-6 {
    margin-left: ($col_md_1 * 6)
  }

  .col-md-offset-5 {
    margin-left: ($col_md_1 * 5)
  }

  .col-md-offset-4 {
    margin-left: ($col_md_1 * 4)
  }

  .col-md-offset-3 {
    margin-left: ($col_md_1 * 3)
  }

  .col-md-offset-2 {
    margin-left: ($col_md_1 * 2)
  }

  .col-md-offset-1 {
    margin-left: ($col_md_1 * 1)
  }

  .col-md-offset-0 {
    margin-left: auto
  }


}

